body {
  text-align: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: red;
}

#themeSelection {
  display: flex;
  justify-content: space-around;
  margin: 10%;
}

.themes {
  background-color: pink;
  height: 100px;
  width: 15%;
}

#sizeSelection {
  display: flex;
  justify-content: space-around;
  margin: 10%;
}

.size {
  background-color: dodgerblue;
  height: 100px;
  width: 15%;
}
