h1 {
  text-align: center;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}

div {
  background-color: red;
  height: 50px;
}

.samp {
  background-color: blue;
}

.crank {
  background-color: green;
}

body {
  text-align: center;
}

button {
  margin: 50px;
}

.black {
  background-color: black;
}
