h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
  align-items: center;
  justify-content: center;
  grid-gap: 5%;
}

div {
  background-color: white;
  justify-content: space-between;
  height: 20vh;
  width: 20vw;
}

.image1 {
  background-color: blue;
}

.image2 {
  background-color: green;
}

.image3 {
  background-color: rgb(251, 255, 0);
}

.image4 {
  background-color: rgb(128, 0, 79);
}

body {
  text-align: center;
}

button {
  margin: 50px;
}

.cartoon1 {
  background-image: url('https://i.pinimg.com/564x/d6/45/91/d6459174d0fc753a310659f009eeb526.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cartoon2 {
  background-image: url('https://i.pinimg.com/564x/14/22/64/142264cb21ae4560d223c8af2602d755.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cartoon3 {
  background-image: url('https://i.pinimg.com/564x/99/67/e2/9967e29de91eec0c588d90bee0f6b4ef.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cartoon4 {
  background-image: url('https://i.pinimg.com/564x/23/32/04/233204ab8e2271267b3e571a56a41d46.jpg');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.cartoon5 {
  background-image: url('https://i.pinimg.com/564x/33/e6/f5/33e6f5d51852373d1c9ec042afbc51f9.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.cartoon6 {
  background-image: url('https://i.pinimg.com/564x/97/1e/b6/971eb6de77fa7169ef8c85ca584f59c8.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.cartoon7 {
  background-image: url('https://i.pinimg.com/564x/4a/eb/29/4aeb29d62c53f2b16c797ef7472e1461.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.cartoon8 {
  background-image: url('https://i.pinimg.com/564x/7b/b7/73/7bb77319c6d76285c13e768d16267a8d.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal1 {
  background-image: url('https://lafeber.com/pet-birds/wp-content/uploads/2018/06/Cockatiel-2.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal2 {
  background-image: url('https://i.pinimg.com/originals/bb/8d/55/bb8d553a3f42b99208ea14d07d6aa05a.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal3 {
  background-image: url('https://i.redd.it/xh4xvvx22yt41.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal4 {
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/chipmunk-nature-photos-1537973822.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal5 {
  background-image: url('https://i.pinimg.com/originals/2a/9e/f0/2a9ef06d820e00998adbe0d6566ccc19.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal6 {
  background-image: url('https://i.pinimg.com/736x/53/b5/7c/53b57cd3381d60640b70cbb7f452112e.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal7 {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIqCyuzsVx2w7g7meU0iKt2DbuBWZKD6l6zA&usqp=CAU');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.animal8 {
  background-image: url('https://media.istockphoto.com/id/162136091/photo/kangaroo-posing-very-much-like-a-human.jpg?s=612x612&w=0&k=20&c=FnL_NkiYXws3H28U8I1H5JAEtAaeYOcIFe3TJYer8xc=');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders1 {
  background-image: url('https://i0.wp.com/arabscountries.com/wp-content/uploads/2021/01/Hanging-Gardens-of-Babylon-1.jpg?resize=660%2C490&ssl=1');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders2 {
  background-image: url('https://www.thoughtco.com/thmb/y2yphoYGkvjdV1JcVfGFJucHK1E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/inigoarza-5c72cffe46e0fb0001b68224.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders3 {
  background-image: url('https://cdn.mos.cms.futurecdn.net/BiNbcY5fXy9Lra47jqHKGK-1200-80.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders4 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bd/Taj_Mahal%2C_Agra%2C_India_edit3.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders5 {
  background-image: url('https://www.shoreexcursionsgroup.com/img/tour/CAPRCHICHENITZA2-2.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders6 {
  background-image: url('https://ehsanbayat.com/wp-content/uploads/2023/08/bahrain-world-trade-center-scaled.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders7 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e3/Kheops-Pyramid.jpg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.wonders8 {
  background-image: url('https://i0.wp.com/www.touristjordan.com/wp-content/uploads/2023/02/shutterstock_1490981186-scaled.jpg?fit=4000%2C2751&ssl=1');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.black {
  background-color: black;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/68/Solid_black.png?20060513000051');
}
